# https://github.com/CaddyBuilds/caddy-cloudflare?tab=readme-ov-file#configuration
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token

# Consistent with Xray config
REALITY_DOMAIN=reality
BASE_DOMAIN=domain.tld

# openssl rand -hex 8
SUB_PATH=your_sub_path

# Allowed HWIDs separated by `|`
# If empty, all HWIDs are allowed
ALLOWED_HWID="hwid_1|hwid_2|hwid_3"

# https://utils.docs.rw/happ-rb
ROUTING_HEADER=happ://routing/onadd/eyJOYW1lIjoiU3Ryb2hWUE4gfCBSdXNzaWEiLCJHbG9iYWxQcm94eSI6InRydWUiLCJSb3V0ZU9yZGVyIjoiYmxvY2stcHJveHktZGlyZWN0IiwiUmVtb3RlRE5TVHlwZSI6IkRvSCIsIlJlbW90ZUROU0RvbWFpbiI6Imh0dHBzOi8vMS4xLjEuMS9kbnMtcXVlcnkiLCJSZW1vdGVETlNJUCI6IjEuMS4xLjEiLCJEb21lc3RpY0ROU1R5cGUiOiJEb0giLCJEb21lc3RpY0ROU0RvbWFpbiI6Imh0dHBzOi8vNzcuODguOC44L2Rucy1xdWVyeSIsIkRvbWVzdGljRE5TSVAiOiI3Ny44OC44LjgiLCJHZW9pcHVybCI6Imh0dHBzOi8vc3ViLnhzdHJvaC5jb20vZ2VvaXAuZGF0IiwiR2Vvc2l0ZXVybCI6Imh0dHBzOi8vc3ViLnhzdHJvaC5jb20vZ2Vvc2l0ZS5kYXQiLCJMYXN0VXBkYXRlZCI6IjQwNzA5MDg4MDAiLCJEbnNIb3N0cyI6e30sIkRpcmVjdFNpdGVzIjpbImdlb3NpdGU6cHJpdmF0ZSIsImdlb3NpdGU6Y2F0ZWdvcnktcnUiLCJnZW9zaXRlOmFwcGxlIiwiZ2Vvc2l0ZTp0d2l0Y2giXSwiRGlyZWN0SXAiOlsiZ2VvaXA6cnUiLCJnZW9pcDpwcml2YXRlIl0sIlByb3h5U2l0ZXMiOlsiZ2Vvc2l0ZTp5b3V0dWJlIiwiZ2Vvc2l0ZTpjYXRlZ29yeS1iYW4tcnUiXSwiUHJveHlJcCI6W10sIkJsb2NrU2l0ZXMiOltdLCJCbG9ja0lwIjpbXSwiRG9tYWluU3RyYXRlZ3kiOiJJUElmTm9uTWF0Y2giLCJGYWtlRE5TIjoiZmFsc2UiLCJVc2VDaHVua0ZpbGVzIjoiZmFsc2UifQ==

# openssl rand -hex 32
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_ROOT_USER=root
