{
  https_port 8443
  servers {
    listener_wrappers {
      proxy_protocol {
        allow 127.0.0.1/32
      }
      tls
    }
    protocols h1 h2
  }
}

{$REALITY_DOMAIN} {
  bind 127.0.0.1

  header Strict-Transport-Security "max-age=63072000"

  handle_path / {
    root * /srv
    file_server
  }

  @hwid_empty {
    path /{$SUB_PATH}
    expression "{$ALLOWED_HWID}" == ""
  }

  handle @hwid_empty {
    root * /srv
    file_server
    header routing "{$ROUTING_HEADER}"
  }

  @hwid_match {
    path /{$SUB_PATH}
    header_regexp x-hwid "{$ALLOWED_HWID}"
  }

  handle @hwid_match {
    root * /srv
    file_server
    header routing "{$ROUTING_HEADER}"
  }

  respond 404
}
